.DS_Store
./SQLDI_jumpbox/*.*
../remote_folder/*.*
.gitignore
.ipynb_checkpoints
.DS_Store
.db2devextconfig.json
clipboard.txt
*.csv
CreditCardFraud.code*
Db2_stuff.md
draft.md
*.zip
Working_*
*.TEXT
*jcl*
*Demo.txt
addon*
*.tex
*-workspace
apikey.json
*.onnx
*.css
*.woff
bootstrap*.*
clipboard*.*
*min*.js
quarto.js
.crossnote/
_output/
*old*
pad.txt
.DS_Stor*
/.quarto/
*.fdb_latexmk*
/*.fdb_latexmk*
*/.quarto/
*.ppt
*.pptx